<!-- app/templates/home/userpage.html -->

{% extends "base.html" %}
{% block title %}Userpage{% endblock %}
{% block body %}

window.location.reload();
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<span>Информация о себе:</span>
<input type="textarea" id="information">
{% endblock %}